* {
	box-sizing: border-box;
}

body {
	background-color: #ccc;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
	float: left;
	width: calc(100% - 320px);

}


header {
	background-color: #000;
	color:#FFF;
	/*height:60px;*/
	width:100%;
	position: relative;
	font-size: 0.8rem;
	
}

h1.headerTitle {
	margin-top: 0;
	padding-left: 20px;
	paddiing-bottom: 3px;
}

ul.headerLink {
	position: absolute;
	right: 10px;
	top: 0;

}


ul.headerLink a {
	float: right;
	text-decoration: none;
	color: white;


}

ul.headerLink a.clicked {
	color: #CCC;
}



ul.headerLink li {
	display: inline-block;
	
}


section, aside {
	background-color: white;
	margin: 10px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	border: solid 1px white;
}

/* figure */
figure {
	border: 1px solid #CCC;
	display: inline-block;
	padding: 5px 0 5px 10px;
	width: 160px;
	float: left;
	margin-right: 0;
	margin-left: 10px;
}

figcaption {
	text-align: center;
	padding-bottom: 10px;
}

figure img {
	width: 140px;
}
/*  浮动元素溢出容器，有背景色时候特别明显
method 1: 
section br.clear{
	clear: both;
} 
method 2: 
section.float {
	float: left;
}
*/
/* method 3: but overflow not suitable for absolute positioning */
/*section.float{
	overflow: hidden;
}*/
/* method 4 */
section.float:after {
	content:  " ";
	display: table;
	clear: both;
}

section.lastArticle{
	clear: both;
}
/* table */
table {
	border-collapse: collapse;
    width:100%;

}

td, th {
	border: 1px solid #CCC;
	padding-left: 5px;

}

th {
	color: #FFF;
	background-color: #333;
	text-align: left;
}

table tr:last-child {
	background-color: #CCC;
	font-weight: bold;
}

/* form */
aside.formArea {
	font-size: 0.9rem;
	float: right;
	width: 300px;
}

.label {
	display: inline-block;
	width: 85px;
	text-align: right;
	vertical-align: top;
	margin-right: 10px;
/*	margin-left: 200px;*/
}
	
.prompt {
	color: #CCC;
	margin-left: 110px;
}


form textarea {
	width: 165px;
	height: 100px;
	font-size: 1.05rem;
}



form input[type='submit'] {
	padding: 8px 110px 8px 110px;
	color: white;
	background-color: #4169e1;
	border-radius: 8px;
}



/* footer */

footer {
	background-color: #000;
	width: 100%;
	color:#FFF;
	text-align: center;
    padding-top: 3px;
    padding-bottom: 10px;
    clear: both;
}




